{% extends 'layout.html.twig' %}

{% block title post.name %}

{% block body %}
    <br><br>
    <h1>{{ post.name }}</h1>
    <p class="text-muted">{{ post.created_at | ago }}</p>
    {{ post.content | nl2br }}
{% endblock %}